*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#FCE4EC;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.otp-box{

width:420px;

background:white;

padding:40px;

border-radius:15px;

text-align:center;

box-shadow:0 10px 25px rgba(0,0,0,.1);

}

h2{

color:#E91E63;

margin-bottom:15px;

}

.otp-inputs{

display:flex;

justify-content:center;

gap:10px;

margin:30px 0;

}

.otp{

width:50px;

height:55px;

font-size:22px;

text-align:center;

border:2px solid #E91E63;

border-radius:10px;

outline:none;

}

button{

width:100%;

padding:14px;

background:#E91E63;

color:white;

border:none;

border-radius:30px;

font-size:16px;

cursor:pointer;

}

button:hover{

background:#C2185B;

}

.timer{

margin-top:20px;

font-size:15px;

}

.resend{

margin-top:20px;

}

.resend a{

color:#E91E63;

text-decoration:none;

font-weight:600;

}